<div class="d-flex  bg-dark w-100 position-absolute">
    <div class="d-flex   border border-warning m-1 w-25 h-25 text-white">
        <img class="w-50" src="https://crosti.ru/patterns/00/1f/6c/2b_picture_95a1a4bf.jpg" alt="">
        <div class="d-flex text-center" *ngFor="let itom of Obj1" ><ul><li>{{itom}}</li></ul></div>
    </div>
    <div class="d-flex border border-warning m-1 w-25 h-25 text-white"></div>
    <div class="d-flex border border-warning m-1 w-25 h-25 text-white"></div>
    <div class="d-flex border border-warning m-1 w-25 h-25 text-white"></div>
</div>

